{% extends "base/baseMemtor.html" %}
{% load staticfiles %}

{% block main %}
<section class="page-section" id="contentuser">
<div class="col-auto table-responsive">
    <h3 class="mb-4">Team</h3>
    <p>
        <table class="table">
            <tr>
                <td><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="Avatar"
                class="md-avatar rounded-circle size-3"></td>
                <td>{{ sm.studentA.name }}<br>
                Student<br>
                {{ sm.studentA.github }}<br>
                {{ sm.studentA.e_mail }}</td>
            </tr>
            <tr>
                <td><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="Avatar"
                class="md-avatar rounded-circle size-3"></td>
                <td>{{ sm.studentB.name }} <br>
                Student<br>
                {{ sm.studentB.github }}<br>
                {{ sm.studentB.e_mail }}</td>
            </tr>
        </table>
    </p>

    <p>

    </p>
    <!--table class="table align-middle">        
        <tbody>
            <tr>               
                <td><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar" class="md-avatar rounded-circle size-3"></td>
                <td>Mentor Lorema Ipsuma</td>
                <td>@github</td>
                <td>mentor@mail.com</td>                
            </tr>
            <tr>                
                <td><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" alt="Avatar" class="md-avatar rounded-circle size-3"></td>        
                <td>Student Lorem Ipsum</td>
                <td>@github</td>
                <td>mentor@mail.com</td>
            </tr>          
        </tbody>
    </table-->
</div>
</section>

{% endblock %}